---
apiVersion: v1
kind: Namespace
metadata:
  name: ostad
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ostad-deployment
  namespace: ostad
  labels:
    app: nginx
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx
          image: nginx:1.14.2
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: ostad-service
  namespace: ostad
spec:
  type: ClusterIP
  ports:
    - port: 8000
      targetPort: 80
  selector:
    app: nginx
